/* Set margin and position for body tag */
body {
  margin: 0;
  position: relative;
}

/* Style the header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #31343d;
  padding: 20px;
}

/* Style the logo */
#logo {
  background-color: #92ccce;
  padding: 10px;
  width: 300px;
  text-align: right;
  margin-left: -20px;
}

/* Style the logo heading */
#logo h1 {
  color: #31343d;
  margin: 0;
}

/* Style the navigation */
nav {
  display: flex;
  margin-right: 20px;
}

/* Style the navigation links */
nav a {
  color: #92ccce;
  text-decoration: underline;
  margin-left: 20px;
  transition: all 0.3s ease-in-out;
}

/* Style the active navigation link */
nav a.active {
  color: #fff;
  background-color: #92ccce;
}

/* Use media queries to adjust header layout and styling for smaller screens */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  
  #logo {
    margin-left: 0;
    text-align: center;
    width: 50%;
    margin-bottom: 20px;
  }

  #logo h1 {
    color: #31343d;
    margin: 0;
    font-size: 3vw;
  }
  
  nav {
    margin-right: 0;
  }
  
  nav a {
    display: block;
    margin: 10px 0;
    text-align: center;
  }
}



/* Style the active navigation link */
nav a.active {
  color: #fff; /* Set text color to white */
  background-color: #92ccce; /* Set background color */
}

/* Style the image container */
.image-container {
  position: relative; /* Set position to relative */
  margin-bottom: 20px; /* Add bottom margin */
  width: 100%;
}


/* Style the image box */
#image-box {
  position: absolute; /* Set position to absolute */
  bottom: 5%; /* Add bottom offset */
  right: 5%; /* Add right offset */
  background-color: #92ccce; /* Set background color */
  padding: 10px; /* Add padding */
  border: 1px solid #ccc; /* Add border */
  z-index: 1; /* Set z-index to be on top of other elements */
}


/* Style the image box heading */
#image-box h2 {
  margin: 0; /* Remove any margin */
  color: #31343d; /* Set text color to dark gray */
}

/* Style the images */
img {
  display: block; /* Set display to block */
  width: 100%; /* Set width to 100% */
}

/* Create the grid layout */
.grid-container {
  display: grid; /* Use grid layout */
  grid-template-columns: 1fr 2fr; /* Set column sizes */
  grid-template-rows: repeat(3, auto); /* Set row sizes */
  grid-gap: 5%; /* Add gap between elements */
  align-content: start; /* Align content to the start */
}


/* Update grid layout for screens larger than 768px */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 2fr; /* Set column sizes */
  }
}

/* Update font size for screens larger than 1024px */
@media (min-width: 1024px) {
  .grid-item {
    font-size: 24px; /* Set font size */
  }
}

/* Update font size for screens larger than 1440px */
@media (min-width: 1440px) {
  .grid-item {
    font-size: 36px; /* Set font size */
  }
}


/* Style the grid items */
.grid-item {
  background-color: #ffffff; /* Set background color */
  padding: 5%; /* Add padding */
  border: 1px solid #ccc; /* Add border */
}

/* Style every odd grid item */
.grid-item:nth-of-type(1),
.grid-item:nth-of-type(3),
.grid-item:nth-of-type(5) {
  font-size: 4vw; /* Set font size to 4% of viewport width */
  margin-left: 50%; /* Add left margin */
  text-align: right; /* Align text to the right */
  justify-content: flex-start; /* Align content to the start */
  border: 0px; /* Remove border */
}

/* Style every even grid item */
.grid-item:nth-of-type(2),
.grid-item:nth-of-type(4),
.grid-item:nth-of-type(6) {
  border-left: 5px solid #ccc; /* Add left border */
  border-top: 0px; /* Remove top border */
  border-right: 0px; /* Remove right border */
  border-bottom: 0px; /* Remove bottom border */
  padding-left: 5%; /* Add left padding */
}


/* Create the sub-grid layout */
.sub-grid-container {
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(2, 1fr); /* Set column sizes */
  grid-template-rows: repeat(3, auto); /* Set row sizes */
  grid-gap: 2%; /* Add gap between elements */
  padding: 2%; /* Add padding */
}

/* Style the sub-grid items */
.sub-grid-item {
  background-color: #ffffff; /* Set background color */
  padding: 2%; /* Add padding */
  border: 0px solid #92ccce; /* Add border */
}

/* Style images inside grid items */
.grid-item img {
  border: 5px solid #92ccce; /* Add border */
}

/* Style the image container */
.image-container2 {
  position: relative; /* Set position to relative */
  margin-bottom: 5%; /* Add bottom margin */
}


/* Style the image inside the image container */
.image-container2 img {
  display: block; /* Set the display to block */
  width: 100%; /* Set width to 100% */
  height: 100%; /* Set height to 100% */
  object-fit: cover; /* Use cover to fill the image container */
  opacity: 50%; /* Set the opacity to 50% */
}

/* Change the image opacity on hover */
.image-container2:hover img {
  opacity: 100%; /* Set the opacity to 100% on hover */
}

/* Style the image box */
.image-box2 {
  position: absolute; /* Set the position to absolute */
  bottom: 20px; /* Set the distance from the bottom */
  left: 0px; /* Set the distance from the left */
  background-color: #92ccce; /* Set the background color */
  padding: 2%; /* Add padding */
  border: 0px solid #ccc; /* Add a border */
  z-index: 1; /* Set the z-index */
}


/* Style the heading inside the image box */
.image-box2 h2 {
  font-size: 2vw; /* Set the font size to 2vw */
  margin: 0; /* Remove margin */
  color: #31343d; /* Set the text color */
}

/* Style the last grid item */
.grid-item:last-child {
  display: flex; /* Use flex layout */
  justify-content: space-between; /* Add space between elements */
}

/* Style the heading inside the last grid item */
.grid-item:last-child h3 {
  flex: 1; /* Set the flex property */
  margin: 0 2%; /* Set the margin */
  text-align: center; /* Set the text alignment */
}

/* Style all grid item headings */
.grid-item h3 {
  font-size: 1.5vw; /* Set the font size to 1.5vw */
}

/* Set smooth scrolling behavior for the entire page */
html {
  scroll-behavior: smooth;
}


